<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://savedtelemetryfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/adc7fd6b-3f46-4c68-a5b0-c5e80f39dead/resourceGroups/SavedTelemetryFunction_group/providers/Microsoft.Web/sites/SavedTelemetryFunction</ResourceId>
    <UserName>$SavedTelemetryFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://savedtelemetryfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>